<div class="footer">
    Movie/Show data is property of <a href="http://themoviedb.org" target="_blank">themoviedb.org</a>, and <a href="http://guidebox.com" target="_blank">GuideBox</a>.<br />
    FindMovieSources - <b>v0.4.5r</b> - Written by Zyther | <a href="http://www.zyther.xyz">ZytherXYZ</a><br />
    <b>Download the app on the Amazon Appstore! (Android) </b> <a href="https://www.amazon.com/gp/mas/dl/android?asin=B01GOYT3SA" target="_blank">Click Here</a>.<br />
    Want to help? Submit feedback? Ask a question? <a href="https://goo.gl/forms/J8mKkLyFwcfXgGQ12" target="_blank">Click Here</a>.
</div>
