<!DOCTYPE html>
<html>
  <head>
    <title>FindMovieSources.com | Find Movie Sources</title>
    <% include includes.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include nav.ejs %>
<div class="jumbotron">

    <div class="aligncenter">
      <h1><i class="fa fa-film"></i> Find Movie Sources</h1>
      <i>"If only I could search Netflix, Amazon Prime, Hulu, etc. from one place..."</i> <br /><br />
      <form id="theForm">
        <div class="form-group">
          <input type="text" placeholder="Movie/TV Show/Program..." id="theInput" /> <input type="submit" value="Search" id="theButton">
        </div>
      </form>
      <div id="result"> </div>
    </div>
  </div>
  <div id="thePOP">
    <div id="theResult"> </div><br />
    <div id="theNetflix"></div>
    <br />
    <button class="thePOP_close">Close This</button>
  </div>
  <%include footer.ejs %>
  </body>
<script>
  $('#theForm').submit(function(e){
    e.preventDefault();
    postInput();
  });
  $('#theButton').click(function(){
    postInput();
  });


  function postInput(){
    if ($('#theInput').val().length > 2) {
      var theInput = $('#theInput').val();

      // $.post('/queryMovie', {query: })
      if (theInput !== '') {
        $('#result').html('<h3>Loading...</h3>');
        $.post('/queryMovie', {query: theInput}, function (data) {
          $('#result').html(data);
        });
        // alert(theInput);
      } else {
        alert('Please enter some sort of input');
      }
    } else {
      $('#result').html('Please enter three or more characters to search.');
    }

  }

  $('.sButton').on('click', function(e){
    e.preventDefault();
  });

  function popSource(ID){
    alert(ID);
  }

  function popTV(ID){
    getData(1, ID);
  }
  function popMov(ID){
    getData(2, ID);
  }
  function getNetflix() {
    $('#theNetflix').html('&nbsp;');
    var tFlix = $("#aTitle").text();
    $.post('/getFlix', {query: tFlix}, function(data){
    $("#theNetflix").html(data);
  });
  }

  function getData(tvm, idd) {
    $('#theResult').html('Loading..............');
    if (tvm === 1) {
      var tvmo = 'tv';
    } else if (tvm === 2) {
      var tvmo = 'mv';
    } else {
      var tvmo = 'zz';
    }
    $('#theNetflix').html('');
    $.post('/getGuideBox', {id: idd, tvmov: tvmo}, function(data){
      $('#theResult').html(data);

      getNetflix();
      if (tvm === 1){
        runThis();
      }

    });
  }
  function runThis(ttID){
      //var theID =
      if ($('#theResult').html() == '<h3>No Results!</h3>') {
      } else {
        $('#theSources').html('Loading....');
        setTimeout(function(){
          var theGGID = $('#theGID').html();
          $.post('/getGuideTV', {id: theGGID}, function(data){
            $('#theSources').html(data);
          });
        }, 1000);
      }

  }

  $(document).ready(function(){
    $("#thePOP").popup({opacity: 0.4});
  });
</script>
</html>
