<i>Netflix results are in <b>alpha</b> and may not be 100% reliable.</i><br />
<b>Netflix: </b> <a href="<%=rez.url%>" target="_blank"><%=rez.title%> (Link)</a> <%=rez.format%><br />
<%= rez.sim * 100 %>% Similarity