body {
    margin-top: 100px;
}
.fullwidth {
    width: 100%;
}
.dFlex {
    display: flex;
}
.flex {
    flex: 1;
}

.btnflex {
    width:100px;
}

.paddingBottom {
    padding-bottom: 15px;
}

.navbarForm {
    display: flex !important;
    float: right;
}


img {
    max-width:100%;
}

.searchItem {
    background-color: #151515;
    margin: 15px;
    padding: 15px;
}

.centerIt {
    margin: 0 auto;
    display: table;
}

h1.centerIt {
    text-align: center;
}

.theForm {
    width: 60%;

}
.overview {
    margin-top: 10px;
}

.bgColor {
    background-color: #151515 !important;
}

.somePadding {
    padding: 40px;
}

.cControl {
    width: 220px !important;
}

#searchForm {
    background-color: #000;
    width: 100%;
    position:fixed;
    top:50px;
    left:0;
    z-index: 2;
}
#searchBar {
    background-color: #000;
    color: #fff;
}
.searchPadding {
    padding: 25px !important;
    margin-bottom: 20px;
}

.genreSearch {
    width: 100%;
}
.halfWidth{
    width: 50%;
}
.flexBox {
    display: flex;
}
.flex {
    flex: 1
}

.filterHeight {
    font-size: 1.3em;
}

.filterList {
    background-color: #555;
}

.navbar-collapse .in .collapse {
    z-index: 3;
}

.blackBG > .ui-select-match > .btn-default {
    background: #000;
}

.blackBG {
    background: #000;
    border-color: #000;
}
.filterMargin {
    margin-bottom: 10px;
}
.inputHeight > div > .ui-select-search {
    min-height: 29px;
}

.advancedFilters {
    float: right;
    position: absolute;
    top:21px;
    right: 30px;
}
.filterContainer {
    position: relative;
}

@media screen and (max-width: 768px) {
    .cControl {
        width: 60% !important;
    }
}

.whiteText {
    color: #fff;
}

.notReady {
    display: none;
}