<div class="container-fluid">
    <div class="bgColor somePadding">
        <h1 class="centerIt"><i class="fa fa-question"></i> About</h1>
        <i class="centerIt">"If only I could search Netflix, Amazon Prime, Hulu, etc. from one place..."</i> <br /><br />
        <div class="container text-left">
            <h3>What is this place?</h3>
            <b>FindMovieSources</b> is a project that attempts to make finding legitimate movie and TV show sources online as easy as possible.
            <h3>Cool. Good idea, but what sources can you search?</h3>
            <b>Netflix</b>, Hulu, Amazon, Xfinity, ATT, HBO, and many many more. For a full, list, <a href="http://www.guidebox.com/#!all-channels" target="_blank">Click here (GuideBox)</a>
            <h3>Okay, but what makes this place special?</h3>
            FindMovieSources specializes in simplicity, and speed of results.
        </div>
    </div>
</div>
